.ionide/
LoadingData/CaliforniaHousing/SampleRegression/SampleRegression.ConsoleApp/obj/
LoadingData/CaliforniaHousing/SampleRegression/SampleRegression.Model/obj/
LoadingData/CaliforniaHousing/SampleRegression/
Regression/CaliforniaHousing/SampleRegression/
Regression/TaxiFarePrediction/SampleRegression/
Regression/TaxiFarePrediction/yellow_tripdata_2018-12.csv
BinaryClassification/HeartDiseasePrediction/SampleClassification/
MulticlassClassification/DigitRecognition/Mnist/
MulticlassClassification/DigitRecognition/mnist_test.csv
MulticlassClassification/DigitRecognition/mnist_train.csv
BinaryClassification/SpamDetection/SampleClassification/
NeuralNetworks/ObjectDetection/bin/
NeuralNetworks/ObjectDetection/obj/
NeuralNetworks/ObjectDetection/images/broccoli.jpg
NeuralNetworks/ObjectDetection/images/broccoli.png
NeuralNetworks/ObjectDetection/images/canoe2.jpg
NeuralNetworks/ObjectDetection/images/canoe3.jpg
NeuralNetworks/ObjectDetection/images/canoe4.jpg
NeuralNetworks/ObjectDetection/images/coffeepot.jpg
NeuralNetworks/ObjectDetection/images/coffeepot2.jpg
NeuralNetworks/ObjectDetection/images/coffeepot3.jpg
NeuralNetworks/ObjectDetection/images/coffeepot4.jpg
NeuralNetworks/ObjectDetection/images/pizza.jpg
NeuralNetworks/ObjectDetection/images/pizza2.jpg
NeuralNetworks/ObjectDetection/images/pizza3.jpg
NeuralNetworks/ObjectDetection/images/tags.tsv
NeuralNetworks/ObjectDetection/images/teddy1.jpg
NeuralNetworks/ObjectDetection/images/teddy2.jpg
NeuralNetworks/ObjectDetection/images/teddy3.jpg
NeuralNetworks/ObjectDetection/images/teddy4.jpg
NeuralNetworks/ObjectDetection/images/teddy6.jpg
NeuralNetworks/ObjectDetection/images/toaster.jpg
NeuralNetworks/ObjectDetection/images/toaster2.png
NeuralNetworks/ObjectDetection/images/toaster3.jpg
NeuralNetworks/ObjectDetection/models/imagenet.csv
NeuralNetworks/ObjectDetection/models/imagenet.tsv
NeuralNetworks/ObjectDetection/models/imagenet_comp_graph_label_strings.txt
NeuralNetworks/ObjectDetection/models/LICENSE
NeuralNetworks/ObjectDetection/models/tensorflow_inception_graph.pb
BinaryClassification/TitanicPrediction/SampleClassification/
Regression/BikeDemandPrediction/SampleRegression/
Clustering/IrisFlower/bin/
Clustering/IrisFlower/obj/
Recommendation/MovieRecommender/SampleRecommendation/
