.ionide/
LoadingData/CaliforniaHousing/SampleRegression/SampleRegression.ConsoleApp/obj/
LoadingData/CaliforniaHousing/SampleRegression/SampleRegression.Model/obj/
LoadingData/CaliforniaHousing/SampleRegression/
